
/* Form container  */

body{
    background-color: #041323;
    color: #f3f5f7;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

.form-container{
    max-width: 420px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 12px;
    border:1px solid white;
    background-color: #0C1D2F;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6),
              0 0 30px rgba(0, 255, 255, 0.5),
              0 0 45px rgba(0, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
}

/* For h1 */

h1{
    text-align: center;
    margin-bottom: 24px;
    color: #f3f5f7;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 16px;
}

/* For Pera */

p{
    text-align: center;
    margin-top: 14px;
    color: #f8f4f4;
}

/* For Link */

a{
    color: #007bff;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
